<a href="https://colab.research.google.com/github/lipsaPatro23/Python_Scientific-Project/blob/main/Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
a = 4
b = 3
b

3

In [26]:
a = 4   # there are called numerical variable or called ints
b = 3
print(a)
print(b)

4
3

In [27]:
c = 'Hello'  # these are called strings(means groups of characters)
d = "world"

print(c,d)
print(a,b)

Hello world
4 3

In [28]:
# this hash sign is called comment and  ignores the line and do not run it 
#single letter variables are not scaleable, we should use informative variable name.
data2plot = 3
filterOrder = 2048
#no spaces but can use underscores (no alfa_numeric character,no special charcter)
# no numbers at the start of the variable

In [29]:
# multiple assignment is good but not recommended with more variables

f,g = 10,2
print(f,g)

10 2

In [33]:
%whos

Variable      Type    Data/Info
-------------------------------
a             int     4
b             int     3
c             str     Hello
d             str     world
data2plot     int     3
f             int     10
filterOrder   int     2048
g             int     2

In [34]:
# Exercise:
# overwrite a variable with same data type
# overwrite a variable with diffrent datatype

In [38]:
a = 7 # we can over write a variable with same data type
d = 'Lipsa'
print(a)
print(d)

7
Lipsa

In [39]:
%whos

Variable      Type    Data/Info
-------------------------------
a             int     7
b             int     3
c             str     Hello
d             str     Lipsa
data2plot     int     3
f             int     10
filterOrder   int     2048
g             int     2

In [41]:
a = "can overwrite a variable with different data types"
d = 9

print(a)
print(d)

can overwrite a variable with different data types
9

In [42]:
%whos

Variable      Type    Data/Info
-------------------------------
a             str     can overwrite a variable <...>with different data types
b             int     3
c             str     Hello
d             int     9
data2plot     int     3
f             int     10
filterOrder   int     2048
g             int     2